@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap");

.blog-area {
    font-family: "Bodono Moda";
    background: #fff;
}

.blog-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.blog-item {
    width: 25%;
    margin-bottom: 20px;
    background-color: #0B2447;
    text-align: left;
    margin: 30px;
    padding: 20px;
    height: 400px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.blog-item:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #f6f6f6;
}

h2, p {
    color: #fff;
}

h2 {
    font-size: 40px;
    margin-top: -5px;
    font-weight: bold;
}

#title-date {
    color: grey;
    font-size: 13px;
    margin-top: -25px;
}

.read-more-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    
}

.read-more-button {
    border: none;
    color: white;
    background-color: #cccf3e;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-size: 22px;
    transition: transform 0.3s ease;
}

.read-more-button:hover {
    transform: scale(1.07);
}