@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap");

.hero {
    height: 500px;
    background: #0063A2;
}


h1 {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 40vh;
    font-size: 80px;
    text-decoration-line:underline;
}